{% extends "main.html" %} 

{% block title %}
Tarif
{% endblock %}
{% block content %}

<script>
  function tambahTarif() {
    let kode = $("#kode").val();
    let nama = $("#nama").val();
    let daya = $("#daya").val();
    let harga = $("#harga").val();
    let subsidi = $("input[type='checkbox']:checked").val() === "ya" ? "ya" : "tidak";

    if (!kode || !nama || !daya || !harga) {
      $("#modalMessageW").text(
        "Data yang Anda masukkan belum lengkap. Harap isi semua bidang yang diperlukan."
      );
      $("#warningModal").modal("show");
      return;
    }
  
    let formData = new FormData();
    formData.append("halaman", "tarif");
    formData.append("kode", kode);
    formData.append("nama", nama);
    formData.append("daya", daya);
    formData.append("harga", harga);
    formData.append("subsidi", subsidi);

    $.ajax({
      type: "POST",
      url: "/tambah",
      data: formData,
      processData: false,
      contentType: false,
      success: function (response) {
        if (response.status === "success") {
          $("#modalMessage").text(response.msg);
          $("#successModal").modal("show");
          $("#successModal").on("hidden.bs.modal", function () {
            window.location.reload();
          });
        } else if (response.status === "error") {
          $("#modalMessageE").text(response.msg);
          $("#errorModal").modal("show");
          $("#errorModal").on("hidden.bs.modal", function () {
            window.location.reload();
          });
        } else {
          $("#modalMessageW").text(response.msg);
          $("#warningModal").modal("show");
          $("#warningModal").on("hidden.bs.modal", function () {
            window.location.reload();
          });
        }
      },
      error: function (xhr, status, error) {
        let errorMessage = xhr.responseJSON
          ? xhr.responseJSON.msg
          : "Terjadi kesalahan";
        $("#modalMessageE").text(errorMessage);
        $("#errorModal").modal("show");
      },
    });
  }

  function edit(id) {
    let kode = $("#kode_" + id).val();
    let nama = $("#nama_" + id).val();
    let daya = $("#daya_" + id).val();
    let harga = $("#harga_" + id).val();
    let subsidi = $("#subsidi" + id).is(":checked") ? "ya" : "tidak";

    let formData = new FormData();

    formData.append("halaman", "tarif");
    formData.append("id", id);
    formData.append("kode", kode);
    formData.append("nama", nama);
    formData.append("daya", daya);
    formData.append("harga", harga);
    formData.append("subsidi", subsidi);

    $.ajax({
      type: "POST",
      url: "/Edit",
      data: formData,
      processData: false,
      contentType: false,
      success: function (response) {
        if (response.status === "success") {
          $("#modalMessage").text(response.msg);
          $("#successModal").modal("show");
          $("#successModal").on("hidden.bs.modal", function () {
            window.location.reload();
          });
        } else if (response.status === "error") {
          $("#modalMessageE").text(response.msg);
          $("#errorModal").modal("show");
        } else {
          $("#modalMessageW").text(response.msg);
          $("#warningModal").modal("show");
        }
      },
      error: function (xhr, status, error) {
        let errorMessage = xhr.responseJSON
          ? xhr.responseJSON.msg
          : "Terjadi kesalahan";
        $("#modalMessageE").text(errorMessage);
        $("#errorModal").modal("show");
      },
    });
  }


  function hapus_tariffs(id) {
    console.log("deleting", id);
    $.ajax({
      type: "POST",
      url: "/hapus",
      data: {
        id: id,
        halaman: "tarif"
      },
      success: function (response) {
        if (response.status === "success") {
          $("#modalMessage").text(response.msg);
          $("#successModal").modal("show");
          $("#successModal").on("hidden.bs.modal", function () {
            window.location.reload();
          });
        } else if (response.status === "error") {
          $("#modalMessageE").text(response.msg);
          $("#errorModal").modal("show");
          $("#errorModal").on("hidden.bs.modal", function () {
            window.location.reload();
          });
        } else {
          $("#modalMessageW").text(response.msg);
          $("#warningModal").modal("show");
          $("#warningModal").on("hidden.bs.modal", function () {
            window.location.reload();
          });
        }
      },
      error: function (xhr, status, error) {
        let errorMessage = xhr.responseJSON
          ? xhr.responseJSON.msg
          : "Terjadi kesalahan";
        $("#modalMessageE").text(errorMessage);
        $("#errorModal").modal("show");
      },
    });
  }
</script>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Tarif Listrik</h1>
</div>

<!-- Content Row -->

<div class="row">
  <!-- Profile -->
  <div class="col-12 card shadow mb-4">
    <div class="card-header py-3">
      <div class="row justify-content-between">
        <div class="col-6">
          <a
            href=""
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#tamabahModal"><i class="fas fa-plus-circle"></i> Tambah</a
          >
        </div>
      </div>
    </div>
    <!-- Card Body -->
    <div class="card-body">
      {% if data_count > 0 %}
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0">
          <thead>
            <tr>
              <th>Kode</th>
              <th>Nama</th>
              <th>daya</th>
              <th>Subsidi</th>
              <th>Harga</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for dt in data %}
            <tr>
              <td>{{ dt.kode }}</td>
              <td>{{ dt.nama }}</td>
              <td>{{ dt.daya }}</td>
              <td>{{ dt.subsidi }}</td>
              <td>{{ dt.harga }}</td>
              <td>
                <a
                  href="#"
                  class="btn btn-warning mb-1"
                  title="Edit"
                  data-toggle="modal"
                  data-target="#editModal{{ dt._id }}"
                  ><i class="fas fa-fw fa-pen"></i> Edit</a
                >
                <a
                  href="#"
                  class="btn btn-danger mb-1"
                  title="Edit"
                  data-toggle="modal"
                  data-target="#hapusPromoModal{{ dt._id }}"
                  ><i class="fas fa-fw fa-trash"></i> Hapus</a
                >
              </td>
            </tr>

            <!-- Modal -->
            <div
              class="modal fade"
              id="editModal{{ dt._id }}"
              tabindex="-1"
              aria-labelledby="responseModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="fw-bold">Edit Promo</h5>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <label for="kode" class="form-label">kode</label>
                      <input
                        type="text"
                        class="form-control form-control-user"
                        name="kode"
                        id="kode_{{ dt._id }}"
                        placeholder="RM450"
                        value="{{ dt.kode }}"
                        required />
                    </div>
                    <div class="form-group">
                      <label for="nama" class="form-label">nama</label>
                      <input
                        type="text"
                        class="form-control form-control-user"
                        name="nama"
                        id="nama_{{ dt._id }}"
                        placeholder="Rumah Tangga 450"
                        value="{{ dt.nama }}"
                        required />
                    </div>
                    <div class="form-group">
                      <label for="daya" class="form-label">daya</label>
                      <input
                        type="text"
                        class="form-control form-control-user"
                        name="daya"
                        id="daya_{{ dt._id }}"
                        placeholder="450 VA"
                        value="{{ dt.daya }}"
                        required />
                    </div>
                    <div class="form-group">
                      <label for="harga" class="form-label">harga</label>
                      <input
                        type="number"
                        class="form-control form-control-user"
                        name="harga"
                        id="harga_{{ dt._id }}"
                        placeholder="2000"
                        value="{{ dt.harga }}"
                        required />
                    </div>
                    <div class="form-group">
                      <label for="harga" class="form-label">Subsidi</label>
                      <input type="checkbox" value="ya" id="subsidi{{ dt._id }}" {% if dt.subsidi %}checked{% endif %}>
                    </div>
                    <button
                      type="submit"
                      class="btn btn-primary"
                      onclick="edit('{{ dt._id }}')"
                      data-dismiss="modal">
                      Edit
                    </button>
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal">
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal -->
            <div
              class="modal fade"
              id="hapusPromoModal{{ dt._id }}"
              tabindex="-1"
              aria-labelledby="responseModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-body row">
                    <div class="col-12 d-flex justify-content-center">
                      <dotlottie-player
                        src="https://lottie.host/d280ef46-6a47-403b-b396-807cf4579b95/fEmrI0fi9R.json"
                        background="transparent"
                        speed="1"
                        style="width: 200px; height: 200px"
                        direction="1"
                        playMode="normal"
                        loop
                        autoplay></dotlottie-player>
                    </div>
                    <div class="col text-center">
                      <p id="modalMessageE">
                        Apakah anda yakin ingin hapus data {{ dt.judul }} ini?
                      </p>
                      <button
                        type="submit"
                        class="btn btn-danger"
                        onclick="hapus_tariffs('{{ dt._id }}')"
                        data-dismiss="modal">
                        Hapus
                      </button>
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal">
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <h4>Belum Ada data</h4>
      {% endif %}
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="tamabahModal"
  tabindex="-1"
  aria-labelledby="responseModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="fw-bold">Tambah Tarif</h5>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="kode" class="form-label">kode</label>
          <input
            type="text"
            class="form-control form-control-user"
            name="kode"
            id="kode"
            placeholder="RM450"
            required />
        </div>
        <div class="form-group">
          <label for="nama" class="form-label">nama</label>
          <input
            type="text"
            class="form-control form-control-user"
            name="nama"
            id="nama"
            placeholder="Rumah Tangga 450"
            required />
        </div>
        <div class="form-group">
          <label for="daya" class="form-label">daya</label>
          <input
            type="text"
            class="form-control form-control-user"
            name="daya"
            id="daya"
            placeholder="450 VA"
            required />
        </div>
        <div class="form-group">
          <label for="harga" class="form-label">harga</label>
          <input
            type="number"
            class="form-control form-control-user"
            name="harga"
            id="harga"
            placeholder="2000"
            required />
        </div>
        <div class="form-group">
          <label for="harga" class="form-label">Subsidi</label>
          <input type="checkbox" value="ya">
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          onclick="tambahTarif()"
          data-dismiss="modal">
          Tambah
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
